.advantage__container {
  display: flex;
  flex-wrap: wrap;
}

.advantage__list {
  display: flex;
  margin-right: calc(-1 * var(--card-set-gap));
}
.advantage__item {
  margin-right: var(--card-set-gap);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
}
.advantage__thumb {
  display: flex;
  margin-bottom: var(--card-set-gap);
  height: 120px;

  background: var(--background-color-buttons);
  border-radius: 4px;

  align-items: center;
  justify-content: center;
}

.advantage__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--headline-text-color);
}
.advantage__text {
  font-size: 14px;
  line-height: 1.71;
}