.advantage__list {
  @media screen and (max-width: 767px) {
    margin-bottom: calc(-1 * var(--card-set-gap));
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.advantage__item {
  @media screen and (max-width: 767px) {
    margin-bottom: var(--card-set-gap);
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.advantage__thumb {
  display: flex;
  margin-bottom: var(--card-set-gap);
  height: 120px;

  background: var(--background-color-buttons);
  border-radius: 4px;

  align-items: center;
  justify-content: center;
}

.advantage__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--headline-text-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
}
