.clients__container {
  display: flex;
  flex-wrap: wrap;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--social-icon-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
  color: var(--accent-color-blue);
}  
}

.clients__icon {
  fill: currentColor;
}