.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.contacts {
  width: 231px;
  margin-right: 70px;
}

.contacts__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts__map {
  color: var(--hero-headline-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
  color: var(--accent-color-blue);
}
}
.contacts__mail,
.contacts__tel {
  color: var(--contact-footer-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
  color: var(--accent-color-blue);
}
}

.join {
  width: 206px;
  margin-right: 93px;
}

.join__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-headline-color);
}

.subscribe {
  width: 570px;
  height: 86px;
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-headline-color);

  &::placeholder {
    color: var(--contact-footer-color);
  }
}

.subscribe__wrap {
  display: flex;
}

.subscribe__field {
  padding-right: 12px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid var(--input-footer-border);
  filter: drop-shadow (0px 4px 4px var(--btn-modal-form-shadow));
  border-radius: 4px;
  background-color: transparent;
  color: var(--hero-headline-color);
}

.subscribe__button {
  display: flex;
  padding: 10px 28px 10px 29px;
  align-items: center;
  text-align: center;

  font-family: var(--font-family-body);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-headline-color);
  background-color: var(--accent-color-blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--btn-modal-form-shadow);
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}
