.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.page-header__container {
  display: flex;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link  {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headline-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
  color: var(--accent-color-blue);
}
}

.site-nav__link_current {
  color: var(--accent-color-blue);
  position: relative;

  &::after {
  content: '';
  display: block;

  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;

  border-radius: 2px;
  background-color: var(--accent-color-blue);
}
}

.site-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-contacts__item{
  display: flex;
}

.site-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.site-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
  color: var(--accent-color-blue);
}
}

.site-contacts__icon {
  display: block;
  margin-right: 10px;
  align-content: center;
  fill: currentColor;
}