.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-background-color);
}

.hero__overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--hero-overlay), 
      var(--hero-overlay)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--hero-headline-color);
}