/* filter buttons */
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  display: block;
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  color: var(--headline-text-color);
  background-color: var(--background-color-buttons);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn-filter:hover,
.btn-filter:focus,
.button-active {
  color: var(--hero-headline-color);
  background-color: var(--accent-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Examples list */
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.examples-item {
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}

.examples-link {
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.examples-border {
  padding: 20px 24px;

  border: 1px solid var(--card-border-color);
  border-top: none;
}

.examples-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headline-text-color);
}

.examples-text {
  line-height: 1.87;
  color: var(--general-text-color);
}

.examples-overlay {
  position: relative;
  overflow: hidden;
}

.examples-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--hero-headline-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.examples-link:hover .examples-overlay-text,
.examples-link:focus .examples-overlay-text {
  transform: translateY(0);
}