.services {
  padding-top: 0;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
}

.services__list {
  display: flex;
  margin-right: calc(-1 * var(--card-set-gap));
}

.services__item {
  margin-right: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  position: relative;
}

.services__background {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--services-position-background);
}

.services__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-headline-color);
}