.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-rgba);
  transition: visibility 300ms linear, opacity 300ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
