.logo {
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color-blue);
}

.page-header__logo {
 margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;   
}

.page-header__logo_black {
  color: var(--logo-span-color);
}

.page-footer__logo {
  margin-bottom: 20px;
}

.page-footer__logo_white {
  color: var(--hero-headline-color);
}