.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--header-border-color);

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-menu {
  padding: 0;

  cursor: pointer;
  border: none;
  line-height: 0;

  background-color: transparent;
  color: var(--logo-span-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color-blue);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-menu__icon {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: var(--hero-headline-color);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: visibility 300ms linear, opacity 300ms linear;
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.mobile-menu__button {
  position: absolute;

  top: 10px;
  right: 15px;

  padding: 0;

  cursor: pointer;
  line-height: 0;
  border: none;

  background-color: transparent;
  color: var(--headline-text-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color-blue);
  }
}

.mobile-menu__icon {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.menu-nav {
  margin-bottom: 302px;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--headline-text-color);
}

.menu-nav__link_current {
  color: var(--accent-color-blue);
}

.menu-contacts__link_tel {
  margin-bottom: 32px;

  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color-blue);
}

.menu-contacts__link_mail {
  margin-bottom: 64px;

  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--general-text-color);
}

.menu-social {
  display: flex;
}

.menu-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--input-rgba);
}

.menu-social__link {
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color-blue);
}
