.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: var(--hero-headline-color);
  box-shadow: 0px 1px 3px var(--box-shadow-component), 0px 1px 1px var(--box-shadow-components),
    0px 2px 1px var(--backdrop-rgba);
  transition: transform 300ms linear, opacity 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

.modal__btn_close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;

  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--btn-modal-close-border);
  background-color: var(--hero-headline-color);
  color: var(--logo-span-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
  color: var(--accent-color-blue);
}
}

.modal__icon_close {
  fill: currentColor;
}