.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-list__link_team {
  color: var(--social-icon-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--hero-headline-color);
    background-color: var(--accent-color-blue);
  }
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link_join {
  background-color: var(--link-footer-background);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color-blue);
  }
}

.join-icon {
  fill: var(--hero-headline-color);
}
