:root {
  --general-text-color: #757575;
  --headline-text-color: #212121;
  --hero-headline-color: #ffffff;
  --accent-color-blue: #2196f3;
  --background-color-buttons: #f5f4fa;
  --footer-background-color: #2f303a;
  --hero-button-hover: #188ce8;
  --logo-span-color: #000000;
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --backdrop-rgba: rgba(0, 0, 0, 0.2);
  --input-rgba: rgba(33, 33, 33, 0.2);
  --placeholder-rgba: rgba(117, 117, 117, 0.5);
  --btn-modal-form-shadow: rgba(0, 0, 0, 0.15);
  --btn-modal-close-border: rgba(0, 0, 0, 0.1);
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --link-footer-background: rgba(255, 255, 255, 0.1);
  --input-footer-border: rgba(255, 255, 255, 0.3);
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --services-position-background: rgba(47, 48, 58, 0.8);
  --box-shadow-component: rgba(0, 0, 0, 0.12);
  --box-shadow-components: rgba(0, 0, 0, 0.14);
  --font-family-body: Roboto;
  --font-family-logo: Raleway;
  --card-set-gap: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
